OPENROUTER_API_KEY='your_openrouter_api_key_here'

OLLAMA_EMBEDDING_MODEL=bge-m3
OLLAMA_SMALL_MODEL=gemma4:e4b
OLLAMA_MEDIUM_MODEL=gemma4:e4b

# Generate new secrets by running "openssl rand -hex 32"
WEBUI_SECRET_KEY=your_open_webui_secret_here
